h1 {
  text-align: center;
  margin-bottom: 50px
}

.card-content {
  text-align: center
}

.card-content span {
  text-align: center
}

.card .card-title {
  font-weight: 350!important;
  font-size: 30px
}

.card-content i {
  font-size: 120px;
  margin-top: 38px;
  color: #26a69a
}

.modal h4 {
  text-align: center;
  margin-top: 30px
}

#createCourse {
  margin-right: 30px;
}

.course-action {
  background-color: #26a69a!important;
  color: #ffd8a6!important
}

.card-title-style {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px
}

.start-date-style {
  margin-top: 45px!important;
  font-size: 20px
}

.end-date-style {
  margin-top: 18px!important;
  font-size: 16px
}

.card-t-style {
  padding-bottom: 10px
}

.fixed-footer {
  position: fixed;
  bottom: 0
}
